# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/

# Virtual environments
venv/
.venv/
env/

# IDEs
.vscode/
.idea/

# Data
*.xlsx
*.csv
!2026 Consensus Board (134 Boards).xlsx
